.addNoteBtn {
  display: flex;
  flex-direction: row; 
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  height: 50px;
  padding: 5px 10px;
  border-top: 1px solid #A5A5A5;
  border-bottom: 1px solid #A5A5A5;
  border-left: none;
  border-right: none;
  min-height: 48px;
  box-sizing: border-box;

  color:#42AAFF ;

  background-color: inherit;

  cursor: pointer;
}

.addNoteBtn:hover {
  background-color: #A5A5A5;
  color: white;
}

.plus {
  margin-right: 5px;

  font-size: 20px;
}
